<div class="container-fluid py-5">
    <h3 class="fw-bold text-center mb-4">Our Services</h3>
    <div class="container d-flex justify-content-center gap-5 p-3 mt-5">
      <div class="text-center ">
        <i class="bi bi-truck display-1" style="color: rgb(209, 177, 139);"></i>
        <p class="mt-3 fw-semibold" style="font-size: 18px;">Free Shipping</p>
        <p class="text-muted" style="font-size: 14px;">Enjoy fast and reliable shipping on all your orders,delivered directly to your doorstep.</p>
      </div>
      <div class="text-center">
        <i class="bi bi-headset display-1" style="color: rgb(209, 177, 139);"></i>
        <p class="mt-3 fw-semibold" style="font-size: 18px;">24/7 Support</p>
        <p class="text-muted" style="font-size: 14px;">Our customer support team is available 24/7 to assist with any inquiries or issues.</p>
      </div>
      <div class="text-center">
        <i class="bi bi-shield-check display-1" style="color: rgb(209, 177, 139);"></i>
        <p class="mt-3 fw-semibold" style="font-size: 18px;">Secure Guarantee</p>
        <p class="text-muted" style="font-size: 14px;">Your security is our priority. We guarantee safe and secure transactions on our platform.</p>
      </div>
    </div>
  </div>
  