<div class="position-relative">
    <img src="assets/banner.jpg" class="img-fluid w-100" alt="Jewelry Banner">
  
    <div class="position-absolute top-50 end-0 translate-middle-y text-start text-white px-3 pe-5">
      <h5 class="text-light">Fine jewelry</h5>
      <h1 class="fw-bold display-4">IT'S A GIFT FOR<br>SOMEONE SPECIAL</h1>
      <p class="text-light">
        Looked up one of the more obscure Latin words,
      </p>
      <p class="text-light">
        <i>consectetur</i>, from a lorem ipsum passage...
      </p>
      <div class="d-flex justify-content-start gap-2">
        <a class="btn btn-light fw-bold" routerLink="/productPage">SHOP NOW</a>
        <a class="btn btn-outline-light fw-bold" routerLink="/about">VIEW MORE</a>
      </div>
    </div>
  </div>
  