<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 100%; max-width: 600px;">
    <h3 class="text-center mb-3">Reset Password</h3>
    <p class="text-center text-muted mb-4">
      Enter your new password below.
    </p>
    <div class="error-container mb-4">
        @if (apiError) {
        <div class="alert-error">
          {{ apiError }}
          <button type="button" class="close-btn" (click)="closeError()">
            &times;
          </button>
        </div>
        }
      </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="code"
          placeholder="Code"
          formControlName="code"
        />
        <label for="code">Code</label>
        @if (resetPasswordForm.get('code')?.errors && resetPasswordForm.get('code')?.touched) {
          <div class="alert alert-secondary p-1">
            @if (resetPasswordForm.get('code')?.getError('required')) {
              <p class="mb-0">Must provide validation code</p>
            }
          </div>
        }
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="newpassword"
          placeholder="New Password"
          formControlName="newPassword"
        />
        <label for="newpassword">New Password</label>
        @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched) {
          <div class="alert alert-secondary p-1">
            @if (resetPasswordForm.get('newPassword')?.getError('required')) {
              <p class="mb-0">Password is required</p>
            } @else if (resetPasswordForm.get('newPassword')?.getError('minlength')) {
              <p class="mb-0">
                Required length is
                {{ resetPasswordForm.get('newPassword')?.getError('minlength').requiredLength }}
              </p>
            }
          </div>
        }
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm Your New Password"
          formControlName="repassword"
        />
        <label for="confirmPassword">Confirm Password</label>
        @if (resetPasswordForm.get('repassword')?.errors && resetPasswordForm.get('repassword')?.touched) {
          <div class="alert alert-secondary p-1">
            @if (resetPasswordForm.get('repassword')?.getError('required')) {
              <p class="mb-0">Confirmation is required</p>
            } @else if (resetPasswordForm.get('repassword')?.getError('minlength')) {
              <p class="mb-0">
                Required length is
                {{ resetPasswordForm.get('repassword')?.getError('minlength').requiredLength }}
              </p>
            }
          </div>
        }
      </div>

      <button class="btn btn-primary w-100"  style="background-color: rgb(210, 161, 165);" type="submit" [disabled]="resetPasswordForm.invalid">
        Reset Password
      </button>
    </form>

    <div class="mt-3 text-center">
      <a routerLink="/login" style="color: rgb(209, 177, 139)">Back to Login</a>
    </div>
  </div>
</div>
