<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 100%; max-width: 600px;">
    <h3 class="text-center mb-3">Forgot Password</h3>
    <p class="text-center text-muted mb-4">
      Enter your email to receive a password reset link.
    </p>

    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()"> 
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="email@example.com"
          formControlName="email"
        />
        <label for="email">Email address</label>
        @if(forgetPasswordForm.get('email')?.errors &&
          forgetPasswordForm.get('email')?.touched){
          <div class="alert alert-secondary p-1">
            @if(forgetPasswordForm.get('email')?.getError('required')){
            <p class="mb-0">Email is required</p>
            }
          </div>
          }

      </div>

      <button class="btn w-100 text-white py-2 font-bold" type="submit" style="background-color: rgb(210, 161, 165);" [disabled]="forgetPasswordForm.invalid">
        Send Reset Link
      </button>
    </form>

    <div class="mt-3 text-center">
      <a routerLink="/login" style="color: rgb(209, 177, 139)">Back to Login</a>
    </div>
  </div>
</div>
